/* .App{
  font-family: 'Istok Web'
} */

.App-dec {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-dec {
    animation: App-dec-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(236, 245, 246, 1);
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
