/* html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

.signup--container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.signup--container > div {
  margin-top: -30px;
  margin-left: -20px;
}

.google-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #444;
  font-size: 16px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.google-icon {
  margin-right: 8px;
  color: #ea4335;
}

.signup--column {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.signup--column form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup--column input {
  border-bottom: 1px solid #4cb4b4;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
}

.signup--column form label {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 10px 0;
}

.signup--button {
  background-color: #4cb4b4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 40%;
  align-self: center;
}

.signup--button:hover {
  background-color: white;
  color: #4cb4b4;
  border: 1px solid #4cb4b4;
}

.su--text {
  color: #4cb4b4;
  font-weight: 500;
}
